html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #050816;
}

* {
  box-sizing: border-box;
}/* You can add global styles to this file, and also import other style files */
